@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-font {
  @apply font-Roboto-slab;
}

.main-div {
  @apply px-2 w-full max-w-[1000px] mx-auto;
}
.title {
  @apply text-xl font-medium;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background: currentColor;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  background-color: #197b30;
}

.link::before {
  content: "";
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.bg-overlay {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
/* .outlet{
  flex: 4;
} */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4ade80;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #4ade80;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4ade80;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee{
  animation: 15s slide infinite linear;
}

.hide-scroll-bar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hide-scroll-bar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.hide-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.25em;
}

.change-scroll-bar:-webkit-scrollbar {
  width: 0.25em;
}

.hide-scroll-bar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.hide-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.25em;
}

.ql-editor {
  min-height: 250px;
}
/* order scroll bar mobile */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.group:hover .scale-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.skeleton-loader {
  width: 100%;
  height: 350px; /* Adjust the height as needed */
border-radius: 4px;
  background: linear-gradient(
    to right,
    rgba(253, 252, 252, 0.1) 0%,
    rgba(245, 210, 210, 0.4) 50%,
    rgba(188, 184, 184, 0.1) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1s infinite linear;
}
.text-loader {
  width: 100%;
  height: 10px; /* Adjust the height as needed */
border-radius: 4px;
margin-top: 4px;
  background: linear-gradient(
    to right,
    rgba(253, 252, 252, 0.1) 0%,
    rgba(245, 210, 210, 0.4) 50%,
    rgba(188, 184, 184, 0.1) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1s infinite linear;
}
.header-loader {
  width: 100%;
  height: 20px; /* Adjust the height as needed */
border-radius: 4px;
margin-top: 4px;
  background: linear-gradient(
    to right,
    rgba(253, 252, 252, 0.1) 0%,
    rgba(245, 210, 210, 0.4) 50%,
    rgba(188, 184, 184, 0.1) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1s infinite linear;
}
.btn-loader {
  width: 30%;
  height: 50px; /* Adjust the height as needed */
border-radius: 4px;
margin-top: 4px;
  background: linear-gradient(
    to right,
    rgba(253, 252, 252, 0.1) 0%,
    rgba(245, 210, 210, 0.4) 50%,
    rgba(188, 184, 184, 0.1) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1s infinite linear;
}




.scale-in {
  animation: scaleInAnimation 1s ease-in-out;
}

@keyframes scaleInAnimation {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shimmer {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}


